<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smhrd.mapper.r_memberMapper">

<select id="myIngredients" resultType="com.smhrd.entity.r_ingre_join_data" parameterType="com.smhrd.entity.r_ingre_join_data">
		/* select.myIngredients */
		<![CDATA[
					SELECT RI.ingreName
						 , RMI.ingreAmount
						 , RI.ingreImg
					  FROM r_my_ingredients RMI
					  JOIN r_ingredients RI ON RMI.ingreIdx = RI.ingreIdx
					 WHERE RMI.custId = #{custId}
		]]>
</select>

<!-- 사용자가 재료 보유했는지 검색기능 -->
<select id="searchMyIngre" resultType="com.smhrd.entity.r_ingre_join_data" parameterType="com.smhrd.entity.r_ingre_join_data">
		/* select.searchMyIngre */
		<![CDATA[
					SELECT RI.ingreName
						 , RMI.ingreAmount
					  FROM r_my_ingredients RMI
					  JOIN r_ingredients RI ON RMI.ingreIdx = RI.ingreIdx
					 WHERE RMI.custId = #{custId}
					   AND LOWER(RI.ingreName) LIKE CONCAT('%', #{ingreName}, '%')
		]]>
</select>


<select id="myMsg" resultType="com.smhrd.entity.r_msg_join_data" parameterType="com.smhrd.entity.r_msg_join_data">
		/* select.myMsg */
		<![CDATA[
					SELECT RM.msgName
						 , RMM.msgAmount
						 , RM.msgImg
					  FROM r_my_msg RMM
					  JOIN r_msg RM ON RMM.msgIdx = RM.msgIdx
					 WHERE RMM.custId = #{custId}
		]]>
</select>



</mapper>