<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smhrd.mapper.r_memberMapper">

<select id="myIngredients" resultType="com.smhrd.entity.r_ingre_join_data" parameterType="com.smhrd.entity.r_ingre_join_data">
		/* select.myIngredients */
		<![CDATA[
					SELECT RI.ingreName
						 , RI.ingreIdx
						 , RMI.ingreAmount
						 , RI.ingreImg
					  FROM r_my_ingredients RMI
					  JOIN r_ingredients RI ON RMI.ingreIdx = RI.ingreIdx
					 WHERE RMI.custId = #{custId}
		]]>
</select>

<!-- 사용자가 재료 보유했는지 검색기능 -->
<select id="searchMyIngreList" resultType="com.smhrd.entity.r_ingre_join_data" parameterType="com.smhrd.entity.r_ingre_join_data">
		/* select.searchMyIngreList */
		<![CDATA[
					SELECT RI.ingreName
						 , RMI.ingreAmount
					  FROM r_my_ingredients RMI
					  JOIN r_ingredients RI ON RMI.ingreIdx = RI.ingreIdx
					 WHERE RMI.custId = #{custId}
					   AND LOWER(RI.ingreName) LIKE CONCAT('%', #{ingreName}, '%')
		]]>
</select>

<select id="myMsg" resultType="com.smhrd.entity.r_msg_join_data" parameterType="com.smhrd.entity.r_msg_join_data">
		/* select.myMsg */
		<![CDATA[
					SELECT RM.msgName
						 , RM.msgIdx
						 , RMM.msgAmount
						 , RM.msgImg
					  FROM r_my_msg RMM
					  JOIN r_msg RM ON RMM.msgIdx = RM.msgIdx
					 WHERE RMM.custId = #{custId}
		]]>
</select>


<!-- addMsg용 select 사전이행 쿼리문 -->
<select id="selectMyMsg" resultType="com.smhrd.entity.r_my_msg" parameterType="com.smhrd.entity.r_my_msg">
		/* seelct.selectMyMsg */
		<![CDATA[
				SELECT *
				  FROM r_my_msg 
				  WHERE custId = #{custId}
				    AND msgIdx = #{msgIdx}
		]]>

</select>

<!-- addIngre용 select 사전이행 쿼리문 -->
<select id="selectMyIngre" resultType="com.smhrd.entity.r_my_ingredients" parameterType="com.smhrd.entity.r_my_ingredients">
		/* seelct.selectIngre */
		<![CDATA[
				SELECT *
				  FROM r_my_ingredients 
				  WHERE custId = #{custId}
				    AND ingreIdx = #{ingreIdx}
		]]>

</select>


<!-- 유저 r_my_msg 테이블에 조미료 정보가 없을경우 insert -->
<insert id="insertMyMsg" parameterType="com.smhrd.entity.r_my_msg">
	/* insert.insertMyMsg */
    <![CDATA[
				INSERT INTO 	r_my_msg (
											custId
											, msgIdx
											, msgAmount
										 )
				VALUES					(	#{custId}
											, #{msgIdx} 
											, #{msgAmount}
										 )
    ]]>
</insert>

<!-- 유저 r_my_ingre 테이블에 조미료 정보가 없을경우 insert -->
<insert id="insertMyIngre" parameterType="com.smhrd.entity.r_my_ingredients">
	/* insert.insertMyIngre */
    <![CDATA[
				INSERT INTO 	r_my_ingredients (
											custId
											, ingreIdx
											, ingreAmount
										 )
				VALUES					(	#{custId}
											, #{ingreIdx} 
											, #{ingreAmount}
										 )
    ]]>
</insert>


<!-- 유저 r_my_msg 테이블에 조미료 정보가 있을경우 update 1->0 -->
<update id="updateMyMsgZero" parameterType="com.smhrd.entity.r_my_msg">
/* update.updateMyMsgZero */
    <![CDATA[
			    UPDATE r_my_msg
			       SET msgAmount = 0
			     WHERE custId = #{custId}
			       AND msgIdx = #{msgIdx} 
    ]]>
</update>

<!-- 유저 r_my_ingredients 테이블에 조미료 정보가 있을경우 update 1->0 -->
<update id="updateMyIngreZero" parameterType="com.smhrd.entity.r_my_ingredients">
/* update.updateMyIngreZero */
    <![CDATA[
			    UPDATE r_my_ingredients
			       SET ingreAmount = 0
			     WHERE custId = #{custId}
			       AND ingreIdx = #{ingreIdx} 
    ]]>
</update>



<!-- 유저 r_my_msg 테이블에 조미료 정보가 있을경우 update 0->1 -->
<update id="updateMyMsg" parameterType="com.smhrd.entity.r_my_msg">
/* update.updateMyMsg */
    <![CDATA[
			    UPDATE r_my_msg
			       SET msgAmount = #{msgAmount}
			     WHERE custId = #{custId}
			       AND msgIdx = #{msgIdx} 
    ]]>
</update>

<!-- 유저 r_my_ingredients 테이블에 조미료 정보가 있을경우 update 0->1 -->
<update id="updateMyIngre" parameterType="com.smhrd.entity.r_my_ingredients">
  /* update.updateMyIngre */
    <![CDATA[
			    UPDATE r_my_ingredients
			       SET ingreAmount = #{ingreAmount}
			     WHERE custId = #{custId}
			       AND ingreIdx = #{ingreIdx} 
    ]]>
</update>

<!-- 조미료 업데이트 null방지 -->
<update id="updateAllMsgZero" parameterType="com.smhrd.entity.r_my_msg">
  /* update.updateAllMsgZero */
    <![CDATA[
			UPDATE r_my_msg
			   SET msgAmount = 0
			 WHERE custId = #{custId} 
			   AND msgAmount = 1
    ]]>
</update>


</mapper>